.ui-label{ display: inline-block; margin-top: 6px; }
.ui-static{ display: inline-block; margin-top: 6px; }
.ic-arr{ font-family: Serif; font-style: normal; font-size: 11px; padding: 0 6px; }
.ui-tab { overflow: hidden; border-bottom: 1px solid #e8e8e8; height: 32px; }
.ui-tab ul{ position: absolute; }
.ui-tab li{ float: left; cursor: pointer; padding-bottom: 12px; margin-right: 40px; }
.ui-tab .active{ color: #39b54a; border-bottom: 1px solid #39b54a; margin-bottom: -1px; }
.error{ color: #F00; margin: 15px 0;}
.side-bd dd{ margin-bottom: 8px; }
.mod-info{ background: #f3f3f3; padding:15px 20px; }

/*导入*/
.mod-prompt { background: #f3f3f3; padding:15px 20px; margin-bottom: 20px; }
.mod-prompt li{ margin-bottom: 10px; }
.mod-prompt .demo{ padding-left: 16px; padding-bottom: 10px; }
.mod-prompt .demo p{ margin: 10px 0 6px 0; color: #888; }
.import-step1 p{ margin-bottom: 20px; }
.del-file{ padding: 0 10px; }
.import-step2 .mark{ background: url(img/ic-error.png) 0 0 no-repeat; text-indent: 26px; }

.import-step0 ul{ margin: 20px 20px 30px; }
.import-step0 ul li{ margin-bottom: 10px; }
.import-step0 li label{ cursor: pointer; }
.import-step0 li input{ vertical-align: -2px; width: 15px; height: 15px; margin-right: 6px; }

/*学校功能管理*/
.mod-enter{ margin: 50px 40px; }
.mod-enter a{ display: inline-block; width: 155px; height: 155px; text-indent: -9999em; margin-right: 50px; }
.enter1{ background: url(img/enter1.png) center no-repeat; }
.enter2{ background: url(img/enter2.png) center no-repeat; }
.enter3{ background: url(img/enter3.png) center no-repeat; }

.init-step{ text-align: center; margin-top: 125px; }
#addSchoolAdmin .form-group{ height: 300px; }
#addSchoolAdmin .checked{ color: #39b54a; cursor: default; }
/*学校管理员职位*/
#fPosition .ui-opt { min-width: 110px; text-align: center; margin-right: 20px; }
.ui-opt-info{ display: inline-block; position: relative; }
.ui-opt-info:hover p{ display: block; }
.ui-opt-info i{ display: inline-block; width: 20px; height: 20px; cursor: help; vertical-align: middle; background: url(img/ic-q.png) 0 0 no-repeat; }
.ui-opt-info:hover i{ background: url(img/ic-q-h.png) 0 0 no-repeat; }
.ui-opt-info p{ display: none; width: 260px; font-size: 12px; line-height: 1.6; position: absolute; top: -5px; left: 30px; border: 1px solid #f4e8b9; padding: 6px 10px; background-color: #fff8dd;}

.ui-dialog-content .pagination .current{ background: #f4f4f4; border:1px solid #ddd; color: #555; }

.view-student .ui-label{ width: 100px; }

.batch-group{ margin-top: 4px; border-top: 1px solid #e8e8e8; padding-top: 30px; }
.batch-group .ui-opt{ padding: 0 30px;  }
/*表格内部线条*/
.ui-common-table p{ margin:5px 0; }
.tb-line{ border-top:1px solid #e8e8e8; border-bottom: none; margin:8px -9px; }
.acc-line dd{ border-bottom:1px solid #e8e8e8; margin:0 -9px; }
.acc-line dd:last-child{ border-bottom: none !important; }

#adminGrid td{ white-space: normal; }
.auto-grid .ui-jqgrid .ui-jqgrid-bdiv{ overflow: auto; }
#basic-account .ui-jqgrid tr.jqgrow td{ padding: 1px 8px; }

/*删除弹窗*/
.del-alert .ui-alert{ font-size: 14px; margin-bottom: 30px; padding: 15px 10px 15px 10px; background:#f3f3f3; }
#validatePic{ cursor: pointer; }

.ui-jqgrid .cbox{ vertical-align: -2px; }