/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* construction */
@font-face {
	font-family: 'iconfont';
    src: url('font/iconfont.eot'); /* IE9*/
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
	  vertical-align:-2px;
}
/*talk web*/
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, form, figure { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin-bottom: 10px; }
p { margin-bottom: 10px; }
ul { padding-left: 0; list-style-type: none; }
ol{ list-style-position:inside; }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { cursor: pointer; color: #427fa6; text-decoration: none; }
a:hover, a:focus, a.hover { color: #146090; }
figure { margin: 0; }
img { vertical-align: middle; }
body { font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; font-size: 14px; line-height: 1.428571429; color: #333; }
h1, h2{ font:16px; }
h3, h4, h5, h6{ font-size:14px; }

html, body, .container {
    height: 100%; width: 100%; min-width: 1260px;
    overflow-y: hidden;
}

.container {
    position: absolute; left: 0; top: 0;
}
.logo .iconfont{
    /*background-image: url(img/icon.png);*/
    /*width: 26px;
    height: 26px;*/
    /*background-repeat: no-repeat;*/
    float: left;
    /*background-size: cover;*/
    margin-right:6px;
    font-size: 24px;
    font-weight: normal;
}
/*.logo .baseDate{background-position: 0 0;}
.logo .community{background-position: -29px 0;}
.logo .individuate{background-position: -55px 0;}
.logo .statistic{background-position: -84px 0;}
.logo .app{background-position: -118px 0;}
.logo .business{background-position: -145px 0;}*/

.logo .baseDate:before{content: "\e61f";}
.logo .community:before{content: "\e622";}
.logo .individuate:before{content: "\e624";}
.logo .statistic:before{content: "\e60b";}
.logo .app:before{content: "\e634";}
.logo .business:before{content: "\e617";}
.logo .app{font-size: 26px;}

.header, .footer, .content { position: absolute; left: 0; right: 0; }
.header { top: 0; z-index: 101; height: 45px; padding: 5px 18px 0 12px; background-color: #fff; color: #333; border-bottom: 1px solid #DDD; }
.content { top: 51px; bottom: 0; overflow: hidden; background: #FFF; }

.header .logo{ height: 40px; line-height:40px; font-size:18px; color: #39b54a; font-weight: bold; }
.ic { width: 16px; height: 16px; display:inline-block; vertical-align:middle; background:#39c; }
.ic-logo{ width:20px; height:20px; display:inline-block; background:#FFF; vertical-align:middle; margin-right:10px; }
.header .nav li{ float:left; line-height:45px; }
.header .nav a, .header .nav label{ display:block; padding:0 26px; color:#333; font-size:12px; }
.header .nav label{ cursor: text; }
/*.header .nav a:hover{ background:#333; }*/
.header .nav .line{ font-size:12px; color:#555; }
.header .nav .dropdown{ position:relative; }
.header .nav .dropdown a{ padding:0 45px 0 25px; display:block; }
.header .nav .dropdown-menu{ display:none; position:absolute; top:45px; width: 100%; background:#fff; z-index:9999; padding:6px 0; border:1px solid #ddd; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.header .nav .dropdown-menu dd{ cursor: pointer; font-size: 12px; line-height:normal; margin-bottom:6px; padding:6px 0 6px 24px; }
.header .nav .dropdown-menu dd:hover{ background:#ccc; }
.header .nav .dropdown-menu a{ display: block; height: 100%; padding: 0; }
.header .nav .dropdown-menu a:hover{ background:#fff; }
.header .nav .dropdown-open .dropdown-menu{ display:block; }
.header .nav .dropdown-open { background:#fff; }
.ic-delta-box { position:absolute; top:20px; margin-left: 12px; }
.ic-delta {
    position: absolute;
    border: 4px solid transparent;
    border-bottom: 0;
    left: 0;
}
.ic-delta-a {
    top: 1px;
    border-top-color: #fff;
}
.ic-delta-b {
    top: 0;
    border-top-color: #2f2f2f;
}

.no_menu .sidebar{display: none;}
.no_menu .main{left: 0;}
.sidebar{ position: absolute; left: 0; top:0; bottom:0; width:160px; background:#f3f3f3; }
.side-bd{ padding-top: 20px; }
.side-bd dl{ margin-bottom:20px; }
.side-bd dt{ text-indent:18px; line-height:36px; color:#888888; font-size:14px; }
.side-bd a{ display:block; text-indent:40px; line-height:34px; color:#333; }
.side-bd a:hover{ background: #eee; }
.side-bd .active a{ background:#39b54a; color:#FFF; }
.side-bd .ic{ position:absolute; margin-left:-24px; margin-top:8px; }
.main{ position: absolute; left: 160px; right:0; top: 0; bottom: 0; overflow-y: auto; overflow-x: hidden; }
.wrapper{ margin:20px 15px 0; }

.h3{ font-size:16px; line-height:36px; margin-bottom:6px; color: #333; }
.h3 a{ color: #333; }

.progressCon{
  position: absolute;
  height: 2px;
  left: 0;
  top: 0;
  width: 100%;
}
.progressbar{
  width: 0;
  height: 2px;
  background-color: #39b54a;
}

/*兼容性提醒*/
#compatibleBack{
    display: none;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    height: 185px;
    background-color: #000;
    opacity: 0.85;
    filter:alpha(opacity=85);
    z-index:9999;
    color:#fff;
}
#compatibleBlock{
    width: 1003px;
    padding-top: 50px;
    margin: 0 auto;
}
.broser-tip {
    width: 600px;
    font-size: 15px;
}
.broser-tip h5{ font-size: 15px; }
.broser {
    width: 310px;
}
.broser li{
    float:left;
    margin-left:30px;
    width:70px;
    height: 70px;
    text-align: center;
}
.broser li a{ display: block; padding-top:60px; color: #FFF; }
.broser .chrome{
    background:url("img/chrome.png") top center no-repeat;
}
.broser .qq{
    background:url("img/qq.png") top center no-repeat;
}
.broser .zh360{
    background:url("img/360.png") top center no-repeat;
}
#compatibleClose{
    position: absolute;
    top: 20px;
    right: 20px;
    width:31px;
    height:31px;
    background:url("img/x.png") center no-repeat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
