/*搜索模块*/
.mod-search{ background: #f3f3f3; padding: 15px; }
.mod-search .form-group{ float: left; margin-right: 10px; }
.mod-search .form-hd{ float: left; }
/*内联表单*/
.form-inline .ui-label{ display: inline-block; margin-top: 6px; }

/*表单水平排列*/
.form-horizontal .form-group{
	margin-bottom: 15px;
}
.form-horizontal .ui-label{ width:100px; text-align:right; display: inline-block; margin-top: 6px; margin-right: 5px; }
.form-horizontal .ui-help{ margin-top:8px; }
.form-horizontal .ui-label i{ font-style: normal; padding-right: 5px; vertical-align: -2px; color: #F00; }
.form-horizontal .form-bd { margin-left:108px; }
.preview img{ border: none; }

/*暂无数据*/
.empty-data{ text-align: center; padding-top: 180px; color: #888; }
.ic-null{ display: inline-block; width: 106px; height: 106px; background: url(img/ic-null.png) center no-repeat; margin-bottom: 10px; }
/*闪屏*/
.main-search{ background:#f3f3f3; padding:15px; }
.main-sc1{ margin-bottom:12px; }
.main-sc1 .form-group{ margin-right:30px; }
.main-opt{ margin:10px 0; line-height:30px; }
/*END*/
/*新增闪屏*/
.inner-rightBox-Content h3 {
	font-size: 16px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 20px;
}
.inner-rightBox-Content h5 {
	font-size: 16px;
	border-left: 3px solid #39b54a;
	padding-left: 8px;
	margin-bottom: 15px;
}

.preview{ display: none; }
.ui-help{ margin-top:8px; }
.uploaded .preview{ display: block; }
#fileWrap .ui-help { vertical-align: 12px; }
.uploaded .cut { margin:10px 10px 0 20px; }

.view-form .ui-label{ margin-top: 0; color: #888888; width: 90px; }
.view-form .form-bd { margin-left:98px; }

.def-classes .ui-label{ color: #888888; width: 82px; }
.def-classes .form-bd { margin-left:90px; }

#classesForm .uploaded #uploader{ margin:20px 10px 0 20px; }
#classesForm .uploaded .ui-help { margin-top:28px; }

.mod-help{ color: #888888; font-size: 12px; border: 1px solid #e8e8e8; padding: 10px 15px 0; margin-bottom: 20px; }
.mod-help li{ margin-bottom: 10px; }

/*操作模块*/
.mod-opt {
    margin: 10px 0;
    line-height: 30px;
}


/******地区选择外现样式******/
.fselectArea{ border: 1px solid #00bc46; margin-bottom: 10px; max-height: 258px; overflow: auto; }
.fselectArea ul{ margin-left: -1px; }
.fselectArea li{ padding: 6px 10px; width: 232px; float: left; border-left: 1px dashed #e8e8e8; }
.fselectArea li span{width: 190px; white-space: nowrap; overflow: hidden;text-overflow: ellipsis;float: left;}
.fselectArea li:hover{ }
.fselectArea li:hover del{ display: block; color: #427fa6; }
.fselectArea li del{ float: right; display: none; padding: 0 5px; text-decoration: none; cursor: pointer; color: #ddd; }