@charset "utf-8";
/*滚动条样式*/
::-ms-scrollbar
{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar
{
    width: 17px;
    height: 17px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #f8f8f8;
    -webkit-border-radius: 6px;
    border: 1px solid #fff;
}
::-webkit-scrollbar-thumb
{
    background-color: #ddd;
    -webkit-border-radius: 12px;
    border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover
{
    background-color: #ccc;
}
.scroll::-webkit-scrollbar{  
   width:14px;  
   height:14px;  
}
.scroll::-webkit-scrollbar-track {
background: #e8e8e8;
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0)
}
.scroll::-webkit-scrollbar-thumb {
background-color:rgba(0,0,0,.5);
-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)
}

.ui-scroll::-webkit-scrollbar {
width:8px;
height:8px
}
.ui-scroll::-webkit-scrollbar-track {
background: #f8f8f8;
border-radius:10px;
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0)
}
.ui-scroll::-webkit-scrollbar-track:hover {
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.4);
background-color:rgba(0,0,0,.01)
}
.ui-scroll::-webkit-scrollbar-track:active {
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.4);
background-color:rgba(0,0,0,.05)
}
.ui-scroll::-webkit-scrollbar-thumb {
background-color:rgba(0,0,0,.05);
border-radius:10px;
-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)
}
.ui-scroll:hover::-webkit-scrollbar-thumb {
background-color:rgba(0,0,0,.2);
border-radius:10px;
-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)
}
.ui-scroll::-webkit-scrollbar-thumb:hover {
background-color:rgba(0,0,0,.4);
-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)
}
.ui-scroll::-webkit-scrollbar-thumb:active {
background:rgba(0,0,0,.6)
}
.ui-scroll-hasShadow {
	box-shadow: 0 0 2px rgba(0,0,0,.2)
}
/*加载中*/
.mask {
  width: 100%;
  height: 100%; 
  /*background-color: rgba(255,255,255,1);*/
  position: fixed; 
  left: 0; 
  top: 0;
  z-index: 9999;
  -webkit-transition: background .3s;
          transition: background .3s;
  
}
.ui-loading { position: absolute; top: 45%; left: 50%; z-index: 11; width: 62px; height: 62px; margin: -31px 0 0 -31px; }
.ui-loading i { width: 62px; height: 62px; display: block; background: url(img/loading.gif) center no-repeat; }

/*普通表格*/
.ui-table{ border: 1px solid #e8e8e8; text-align:center; border-collapse:collapse; }
.ui-table tr:hover{ background:#F6F6F6; }
.ui-table th{ background:#f8f8f8; height:34px; border:1px solid #e8e8e8; font-weight: normal; color: #c1c1c1; }
.ui-table td{ height:30px; padding:2px 8px; border:1px solid #e8e8e8; }
.ui-table .ckb, .ui-table .ckb-all{ width: 14px; height: 14px; }
.ui-table a { padding: 0 6px; }
/* 输入框 ui-input*/
.ui-input { display: inline-block; padding: 0 8px; font-size: 14px; height:30px; color: #333; background-color: #fff; border: 1px solid #e8e8e8; vertical-align: middle; }
.ui-input:focus, .ui-input.focus { border-color: #ddd; outline: 0; }
.ui-input::-webkit-input-placeholder {
	color: #aaa;
}
.ui-input:-ms-input-placeholder { 
	color: #aaa;
}
.ui-input:-moz-placeholder { 
	color: #aaa;
}
.ui-input::-moz-placeholder { 
	color: #aaa;
}
.ui-input[disabled] { cursor: not-allowed; border-color: #eee; background-color: #eee; color:#aaa; }
textarea.ui-input{ height:auto; line-height: 1.428571429; padding:6px 8px; width:300px; }
textarea.ui-textarea{resize: none;width: 70%;height: 160px;}
textarea.ui-textarea+span{
	display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 30%;
    color: #888888;
}
/* 按钮 ui-btn  */
.ui-btn { display: inline-block; padding: 5px 20px; font-size: 14px; line-height: 1.428571429; box-sizing:content-box; text-align: center; border: 1px solid #e8e8e8; border-radius: 3px; color: #555; background-color: #fff; border-color: #e8e8e8; white-space: nowrap; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.ui-btn:hover, .ui-btn.hover { color: #333; text-decoration: none; background-color: #f8f8f8; border:1px solid #ddd; }
.ui-btn:focus, .ui-btn:active { color: #333; outline: 0; }
.ui-btn.disabled, .ui-btn.disabled:hover, .ui-btn.disabled:active, .ui-btn[disabled], .ui-btn[disabled]:hover, .ui-state-disabled .ui-btn{ cursor: not-allowed; background-color: #eee; border-color: #eee; color: #aaa; }
.ui-btn-primary { color: #fff; background-color: #39b54a; border-color: #39b54a; }
.ui-btn-primary:hover, .ui-btn-primary.hover { color: #fff; background-color: #16a329; border-color: #16a329; }
.ui-btn-primary:focus, .ui-btn-primary:active { color: #fff; }
.ui-btn-primary.disabled:focus{ color: #aaa; }
.ui-btn-danger{ color: #fff; background-color: #d9534f; border-color: #d43f3a; }
.ui-btn-danger:focus, .ui-btn-danger:active { color: #fff; }
.ui-btn-danger:hover { color: #fff; background-color: #c9302c; border-color: #ac2925; }
/*日期选择*/
.ui-datepicker {
	background:#FFF url(img/ic-datapicker.png) right 1px no-repeat;
	width: 152px;
}
.ui-date-range {
	background:#FFF url(img/ic-datapicker.png) right 1px no-repeat;
	width: 250px;
	padding:0 0 0 8px;
}
/* 下拉框 */
 .ui-tips-error i, .ui-tips-warning i, .ui-combo-wrap .trigger,.ui-spinbox-wrap a, .ui-subject-wrap .subject-trigger { background: url('img/spr_icons.png') no-repeat; }
.ui-combo-wrap { position: relative; display: inline-block; height: 30px; *display:inline;
vertical-align: middle; background-color: #fff; border: 1px solid #e8e8e8; color: #333; overflow: hidden; zoom: 1; }
.ui-combo-wrap .input-txt { outline:none;float: left; padding: 6px 5px; height: 18px; color: #333; border: 0; width: 120px; }
.ui-combo-wrap .trigger { float: left; width: 17px; height: 100%; overflow: hidden; background: url('img/ic-down.png') center no-repeat; }
.ui-combo-wrap .trigger:hover {  }
.ui-combo-active, .ui-combo-active:hover { border: 1px solid #ddd; }
.ui-combo-active, .ui-combo-active input{ }
.ui-combo-active .trigger { background: url('img/ic-down-h.png') center no-repeat; }
.ui-combo-disabled .input-txt { background-color: #f0f0f0; color: #aaa; }
.ui-combo-disabled .trigger, .ui-combo-disabled .trigger:hover { background-color: #f0f0f0; background-position: 0 -16px; }
.ui-droplist-wrap { background: #fff; border: 1px solid #e8e8e8;     box-shadow: 2px 4px 4px -2px rgba(0,0,0,0.1); z-index: 500; }
.ui-droplist-wrap .droplist { background-color: #fff; position: relative; }
.ui-droplist-wrap .list-item {_position:relative; padding: 2px 5px; line-height: 26px; cursor: default; overflow: hidden; color: #666; }
.ui-droplist-wrap .loading { line-height: 26px; padding: 5px 5px 5px 40px; background: url('img/loading.gif') no-repeat 10px center; }
.ui-droplist-wrap .tips { line-height: 18px; padding: 5px; }
.ui-droplist-wrap .on { background-color: #f4f4f4; cursor: pointer; }
/*.ui-droplist-wrap .selected { background-color: #f4f4f4; }
.ui-droplist-wrap .selected:hover{ background-color: #f4f4f4; }*/
.ui-subjectList-wrap .list-item{font-size:12px;}
.ui-combo-wrap-small{height: 22px;}
.ui-combo-wrap-small .input-txt{padding: 3px 5px; height: 14px;font-size: 12px;line-height: 14px;}
.ui-droplist-wrap-small .list-item{font-size: 12px;line-height: 20px;}
.ui-combo-wrap-small .trigger{background-position: 0 -19px;}
.ui-combo-wrap-small .trigger:hover { background-position: -16px -19px; }
.ui-droplist-wrap .extra-list-ctn{border-top: 1px solid #ddd; background: #f5f5f5;padding-left: 5px;}

/*提示*/
.ui-tips { padding: 6px 40px 6px 50px; color: #39b54a; font-size:14px; border: 1px solid #cfebd3; border-radius: 3px; background-color: #f1fbf3; }
.ui-tips .close { position: absolute; top: 8px; right: 5px; width: 12px; height: 12px; overflow: hidden; font-size: 0; cursor: pointer; background-position: -48px 0; }
.ui-tips i { position: absolute; top: 9px; left: 26px; margin-top: -1px; display: block; width: 18px; height: 18px; background: url('img/ic-success.png') no-repeat; overflow: hidden; font-size: 0; }
.ui-tips-error { background-color: #fff2f2; color: #f36363; border-color: #f9e5e5; }
.ui-tips-error a{ color:#3B87B1; }
.ui-tips-error i { background: url('img/ic-error.png') no-repeat; }
.ui-tips-warning { padding: 6px 30px 6px 30px; color: #d9af2f; background-color: #fffbed; border-color: #f6ecce; }
.ui-tips-warning a{ color:#3B87B1; }
.ui-tips-warning i { background-position: -32px 0; }
.ui-tips-text{color: #FF0000;}

.ui-label-default{ background: #888; color: #FFF; padding: 5px 8px; border-radius: 3px; font-size: 12px; }
.ui-label-success{ background: #39b54a; color: #FFF; padding: 5px 8px; border-radius: 3px; font-size: 12px; }
.ui-label-error{ background: #f36363; color: #FFF; padding: 5px 8px; border-radius: 3px; font-size: 12px; }

/* 搜索控件 */
.ui-search { position: relative; display: inline-block; font-size: 14px; vertical-align: middle; zoom: 1; }
.ui-search input { padding-right: 30px; width: 340px; }
.ui-search button { position: absolute; right: 2px; top: 2px; width: 26px; height: 28px; border-width: 0; background: url('img/ic-search.png') no-repeat; text-indent: -9999px; cursor: pointer; overflow: hidden; }
.ui-search button:hover, .ui-search button:active { outline: 0; }
.ui-search button:focus{ outline: 0; }

/*tab*/
.ui-tab { overflow: hidden; border-bottom: 1px solid #e8e8e8; height: 32px; }
.ui-tab ul{ position: absolute; }
.ui-tab li{ float: left; cursor: pointer; padding-bottom: 12px; margin-right: 40px; }
.ui-tab .active{ color: #39b54a; border-bottom: 1px solid #39b54a; margin-bottom: -1px; }

.ui-jqgrid-bdiv .ui-state-hover {
    background: #f6f6f6;
}
.ui-jqgrid .ui-pager-control{ padding: 8px 0; }
.ui-jqgrid .ui-pg-input, .ui-jqgrid .ui-pg-selbox { border: 1px solid #e8e8e8; outline: 0; font-size: 14px; height: 24px; color:#333; text-align: center; }
.ui-jqgrid .ui-pg-selbox{ display: inline-block; }
.ui-jqgrid .ui-pg-selbox{ height: 31px; }
.ui-jqgrid .ui-separator{ border: none; }
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button .ui-icon{ border: 1px solid #e8e8e8; }
.ui-jqgrid .ui-pg-button:hover, .ui-jqgrid .ui-state-disabled:hover{ padding: 0px 1px; }
.ui-paging { }
.ui-jqgrid .opt{ padding: 0 10px; }
.ui-jqgrid .opt a{ padding:0 6px; cursor:pointer; }
.ui-jqgrid .ui-jqgrid-pager{ font-size:14px; }
.ui-jqgrid .loading{ line-height: 40px; padding: 0 30px; background: #333; background:rgba(0, 0, 0, .6); font-size: 14px; color: #FFF; border-radius: 6px; font-weight: normal; } 
.inline-edit-cell{ border: 1px solid #39b54a; }
.inline-edit-cell:focus{ outline: none; }

/* icon */
.ui-icon { width: 16px; height: 16px; display: inline-block; overflow: hidden; background-repeat: no-repeat; }
.ui-icon-seek-next { background-position: -32px -160px; }

.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }

/*----- 右滑层 -----*/
.init-rightbox{ overflow: hidden; }
.init-rightbox body{ margin-right: 17px; }
.rightbox-black{
    background: #000;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity:0;
    opacity: 0;

    left: 0;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 500; 
}
.rightbox-main{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow: hidden;
    z-index: 501;
}
.rightbox-main .rightbox{
    width:850px;
    height:100%;
    position: absolute;
    right: -60%;
    top: 0;
    vertical-align: top;
    clear: both;
}
.rightbox-main .rightbox-content{
    margin-left:50px;
    width: auto;
    height:100%;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;

    position: relative;
}
.rightbox-main .rightbox-content .inner-rightbox-content{
    padding: 30px 20px 30px 30px;
}
.inner-rightbox-content h3 {
	font-size: 16px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 20px;
}
.rightbox-main .rightbox-close{
    width:50px;
    height:50px;
    background-color: #00bc46;
    position: absolute;
    top:15px;
    left:0;
    cursor: pointer;
    background-image: url(img/rightClose.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.rightbox-main .rightbox-close:hover{
    background-color:#00a13c;
}
/* breadcrumb */
.ui-crumbs { padding:0 0 20px 0; font-size:14px; color:#888888; }
.ui-crumbs li { display: inline-block; }
.ui-crumbs li + li:before { padding: 0 5px; color: #ccc; content: ">"; font-family:Verdana, Geneva, sans-serif; }
.ui-crumbs .active { color: #39b54a; }

/*上传*/
.webuploader-pick{ line-height: 30px; padding: 0 15px; border: 1px solid #e8e8e8; background:#FFF; color:#555; }
/*表单选项*/
.w3x {
	width: 306px;
}
.w2x {
	width: 200px;
}
.w4x {
	width: 400px;
}
.ui-help{ display:inline-block; color:#888888; font-size: 12px; }
.ui-reload{display: block;}
.ui-opt, .ui-opt-custom {
	line-height: 30px;
	padding: 0 15px;
    display: inline-block;
	margin: 0 10px 10px 0;
    cursor: pointer;
    border: 1px solid #E8E8E8;
    background-color: #fff;
    color: #888;
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
.ui-opt:hover, .ui-opt.hover, .ui-opt-custom:hover{
	border: 1px solid #ddd;
    color: #555;
}
.ui-opt.active{
	border: 1px solid #39b54a;
    color: #39b54a;
}
/*双向选择*/
#multipleBox{
	width: 530px;
	height: 310px;
}
#multipleBox .ui-scroll{ width: 250px; }
#multipleBox .selectFrame{ margin-right: 20px; }


/*选择地区*/
.selectSchoolArea{
	width: 960px;
	height: 310px;
	display: inline-block;
}
.selectSchoolArea .point{ color: #888; }
.selectSection{
	width: 280px;
	height: 230px;
	background-color: #F6F6F6;
	float: left;
	display: inline-block;
}
.selectFrame{
	width: auto;
	height: auto;
	margin-right: 10px;
	display: inline-block;
}
.selectList{
	width: 180px;
	height: 280px;
	margin-top: 8px;
	border: 1px solid #F1F1F1;
	overflow-y: auto;
    overflow-x : hidden;
}

.selectFrame .school{
	width: 230px !important;
}
.selectFrame .school .name{
	width: 155px !important;
}
.selectList .noOptions{
	margin-top: 5px;
	width: 100%;
	margin-top: 5px;
	width: 100%;
	height: 25px;
	font-size: 14px;
	line-height: 25px;
	color: #a0a0a0;
}
.noOptions span{
	margin-left: 10px;
}
.selectList .options{
	margin-top: 2px;
	width: 100%;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	color: #6A6A6A;
	cursor: pointer;
}
.selectList .options .name{
	float: left;
	margin-left: 10px;
	width: 100px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; 
}
.selectList .options:hover{
	background-color: #f4f4f4;
}
.selectList .options:hover .spot{
	display: inline-block !important;
}
.selectList .options .spot{
	color: #227ABE;
	display: none;
	float: right;
	font-size: 12px;
	margin-right: 10px;
}
.selectList .selected{ background:#f2f7f5 url('img/ic-check.png') right center no-repeat; }
.selectList .selected .spot{
	color: #a0a0a0 !important;
	display: inline-block !important;
}
.selectList .selected:hover{ background-color:#ebf2ec; }
.resultSection{
	display: inline-block;
}
.resultSection .point{
	margin-top: 3px;
	font-size: 14px;
}
.hasSelectDiv{
	width: 230px;
	height: 280px;
	margin-top: 8px;
	border: 1px solid #F1F1F1;
	overflow-y: auto;
    overflow-x : hidden;
}
.hasSelectDiv .options{
	margin-top: 2px;
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    color: #6A6A6A;
    cursor: pointer;
}
.hasSelectDiv .options .name{
	color: #6A6A6A;
	float: left;
	width: 170px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size: 14px;
	margin-left: 10px;
}
.hasSelectDiv .options .spot{
	color: #227ABE;
	display: none;
	float: right;
	font-size: 12px;
	margin-right: 10px;
}
.hasSelectDiv .options:hover{
	background-color: #f4f4f4;
}
.hasSelectDiv .options:hover .spot{
	display: inline-block !important;
}


/*选择地区*/
.area-box {
	width: 960px;
	height: 310px;
	overflow: hidden;
	zoom: 1;
}
.area-box .point {
	color: #888;
}
.select-frame {
	float: left;
	margin-right: 10px;
}
.select-list {
	width: 160px;
	height: 280px;
	margin-top: 8px;
	border: 1px solid #F1F1F1;
	overflow-y: auto;
	overflow-x : hidden;
}
.select-frame .school {
	width: 210px;
}
.select-frame .school .name {
	width: 165px;
}
.select-list .options {
	margin-top: 2px;
	width: 100%;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	color: #6A6A6A;
	cursor: pointer;
}
.select-list .options .name {
	float: left;
	margin-left: 10px;
	width: 122px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.select-list .options:hover {
	background-color: #f4f4f4;
}
.select-list .options:hover .spot {
	display: inline-block !important;
}
.select-list .options .spot {
	color: #227ABE;
	display: none;
	float: right;
	font-size: 12px;
	margin-right: 10px;
}
.select-list .selected {
	background: #f2f7f5 url('img/ic-check.png') right center no-repeat;
}
.select-list .selected .spot {
	color: #a0a0a0 !important;
	display: inline-block !important;
}
.select-list .selected:hover {
	background-color: #ebf2ec;
}
.result-section {
	float: left;
}
.result-section .select-list {
	width: 215px;
	height: 280px;
}
.result-section .select-list .options .spot {
	color: #227ABE;
	display: none;
	float: right;
	font-size: 14px;
	margin-right: 10px;
}
.result-section .select-list .options:hover {
	background-color: #f4f4f4;
}
.result-section .select-list .options:hover .spot {
	display: inline-block !important;
}
.area-range{ border: 1px solid #00bc46; margin-bottom: 10px; max-height: 258px; overflow: auto; }
.area-range ul{ margin-left: -1px; }
.area-range li{ padding: 6px 10px; width: 232px; float: left; border-left: 1px dashed #e8e8e8; }
.area-range li:hover{ background: #f4f4f4; }
.area-range li:hover del{ display: block; color: #427fa6; }
.area-range li del{ float: right; display: none; padding: 0 5px; text-decoration: none; cursor: pointer; color: #ddd; }

/*水平列表*/
.dl-horizontal dt {
    float: left;
    width: 80px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 100px;
}
/*警告框中的链接*/
.ui-alert {
  text-align: center;
  font-size: 16px;
  padding: 20px 20px 40px;
}
/*分页*/
.ui-paging{
}
.ui-paging p{ text-align: right; margin: 10px; color: #CCC; }
.ui-paging .row-list{ float: left; margin: 10px 0; }
.ui-paging .ui-pg-selbox{ border: 1px solid #e8e8e8; background: #FFF; border-radius: 3px; padding: 3px; }
.ui-paging .ui-pg-selbox:focus{ outline: none; }
.pagination {
		float: right; 
        margin: 10px 0;
}
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 4px 14px;
    margin-left: 10px;
	min-width:1em;

	font-size: 14px; 
	text-align: center; 
	border: 1px solid #e8e8e8; 
	border-radius: 3px; 
	color: #555; 
	border-color: #e8e8e8; 
	vertical-align: middle; 
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

.pagination a:hover{
	cursor: pointer;
	color: #333; text-decoration: none; background-color: #f8f8f8; border:1px solid #ddd;
}

.pagination .current {
	color: #FFF;
    background: #39b54a;
	border: solid 1px #39b54a;
}

.pagination .current.prev, .pagination .current.next{
	cursor: not-allowed; background-color: #eee; border-color: #eee; color: #aaa;
}
/*文件上传*/
.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #fff;
	padding: 0 15px;
	line-height: 30px;
	color: #555;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
    color: #333;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

/*前缀线条*/
.ui-vline{ border-left: 3px solid #39b54a; padding-left: 6px; display: inline-block; line-height: 1; }

.ui-popup-follow .ui-popup-success{ color: #39b54a; font-size: 14px; border: 1px solid #cfebd3; border-radius: 3px; background-color: #f1fbf3; }